# Configuration Table of Contents

Total Devices Discovered: {{ found_files.files | length }}

| Host / Device | Baseline Differences | Time Compared | Auth Compliance
| :--- | :--- | :--- | :--- |
{% for file in found_files.files %}
{% set file_name = file.path | regex_replace('\.xml$', '.json') %}
{% set meta_file_path = file.path | regex_replace('\.xml$', '.json') %}
{% set raw_content = lookup('ansible.builtin.file', meta_file_path, errors='ignore') | default('{"diff": []}', true) %}
{% set meta_data = raw_content | from_json %}
| [{{ file.path | basename | splitext | first }}]({{ file.path | regex_replace('^/runner/project/devicedata/', '') }}) | {% if meta_data.diff | length > 0 and meta_data.diff[0] != "" %}Yes{% else %}No changes{% endif %} | {{meta_data.datetime}} | {{ meta_data.auth_status }} |
{% endfor %}

