# Configuration Table of Contents

{% for group in groups %}
## {{ group }}

{% for host in groups[group] %}
- [{{ host }}]({{ group }}/{{ host }}/{{ host }}-config.xml)

{% set file_path = 'devicedata' ~ '/' ~ group ~ '/' ~ host ~ '/' ~ host ~ '-config.json' %}

{% set raw_content = lookup('ansible.builtin.file', file_path, errors='ignore') | default('{"diff": []}', true) %}
{% set diff_data = raw_content | from_json %}
{% if diff_data.diff | length > 0 %}
{% for line in diff_data.diff %}
{% if line.startswith('-') and not line.startswith('---') %}
* 🟥 ~~`{{ line[1:] }}`~~
{% elif line.startswith('+') and not line.startswith('+++') %}
* 🟩 `{{ line[1:] }}`
{% endif %}
{% endfor %}

{% endif %}

{% endfor %}
{% endfor %}

